/* Your styles should be mobile-first and responsive */ */

/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/

@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Roboto&family=Sansita+Swashed:wght@300;800&display=swap');


*{
  box-sizing: border-box;
}
header{
  text-align: center;
}

body {
  
  background-size: contain;
  
  
}

main {
  display: flex;
  justify-content:center ;

}

button {
 
}

.nextButton {
  margin-top: 20px;
}


h1 {
  padding-top: 30px;
  font-family: 'Sansita Swashed', cursive;
 
}

 .title{ 
  margin-top: 50px;
  font-family: 'Sansita Swashed', cursive;
  
}

p {
  font-size: 19px;
  color: rgb(1, 12, 1); 
  font: weight 300;;
  font-family: 'Roboto', sans-serif;
 
}

ul {
  
}

img {

}

input {
  
}

.item-1{
  flex: 1;
}

@media only screen and (min-width: 320px) {
  body{
  background-size: 100% 110%;
  }

  legend {
    font-size: 20px;
  }

  img {
    width: 100%;
    height: 140px;
  }
}


@media only screen and (min-width: 480px) {
  legend {
    font-size: 25px;
  }

  img {
    width: 200px;
    height: 150px;
  }
}

@media only screen and (min-width: 568px) {
  legend {
    font-size: 30px;
  }

  img {
  width: 300px;
  height: 200px;
  }
}
